@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
:root {
	--red           : #DB011C;
	--red-dark      : #A20014;
	--blue          : #19499C;
	--blue-dark     : #0E3B89;
	--yellow        : #FFF200;
	--black         : #000000;
	--white         : #FFFFFF;
	--gray-light    : #F5F5F5;
}
* {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}
::-moz-selection {
	color: var(--white);
	background: var(--blue);
}
::selection {
	color: var(--white);
	background: var(--blue);
}
body.login {
	font-family: 'DM Sans', sans-serif;
	background-color: var(--white);
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
	background-image: url(../img/mesin-hl-logo-registered.webp);
	background-image: none,url(../img/mesin-hl-logo-registered.webp);
	background-position: center center;
	background-size: 200px;
	width: 200px;
	height: 122px;
	margin: 0 auto;
}

/* 
 *  Signin Section
 */
body.login div#login form#loginform {
	padding: 0;
	border: none;
	box-shadow: none;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass {
	display: block;
	width: 100%;
	padding: .6125rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--black);
	background-color: #fff;
	border: 1px solid #BDBDBD;
	border-radius: .325rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body.login div#login form#loginform input#user_login:focus,
body.login div#login form#loginform input#user_pass:focus {
	background-color: #fff;
	border-color: var(--blue);
	outline: 0;
	box-shadow: none;
}
body.login div#login form#loginform input#user_login:-webkit-autofill,
body.login div#login form#loginform input#user_login:-webkit-autofill:hover,
body.login div#login form#loginform input#user_login:-webkit-autofill:focus,
body.login div#login form#loginform input#user_login:-webkit-autofill:active,
body.login div#login form#loginform input#user_pass:-webkit-autofill,
body.login div#login form#loginform input#user_pass:-webkit-autofill:hover,
body.login div#login form#loginform input#user_pass:-webkit-autofill:focus,
body.login div#login form#loginform input#user_pass:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
body.login div#login form#loginform p.submit input#wp-submit {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: .325rem;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--blue);
	border: none;
	box-shadow: none;
	outline: none;
}

/* 
 *  Signup Section
 */
body.login div#login form#registerform {
	padding: 0;
	border: none;
	box-shadow: none;
}
body.login div#login form#registerform p {}
body.login div#login form#registerform p label {}
body.login div#login form#registerform input {}
body.login div#login form#registerform input#user_login,
body.login div#login form#registerform input#user_email {
	display: block;
	width: 100%;
	padding: .6125rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--black);
	background-color: #fff;
	border: 1px solid #BDBDBD;
	border-radius: .325rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body.login div#login form#registerform input#user_login:focus,
body.login div#login form#registerform input#user_email:focus {
	background-color: #fff;
	border-color: var(--blue);
	outline: 0;
	box-shadow: none;
}
body.login div#login form#registerform input#user_login:-webkit-autofill,
body.login div#login form#registerform input#user_login:-webkit-autofill:hover,
body.login div#login form#registerform input#user_login:-webkit-autofill:focus,
body.login div#login form#registerform input#user_login:-webkit-autofill:active,
body.login div#login form#registerform input#user_email:-webkit-autofill,
body.login div#login form#registerform input#user_email:-webkit-autofill:hover,
body.login div#login form#registerform input#user_email:-webkit-autofill:focus,
body.login div#login form#registerform input#user_email:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
body.login div#login form#registerform p.submit input#wp-submit {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: .325rem;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--blue);
	border: none;
	box-shadow: none;
	outline: none;
}

/* 
 *  Lost Password Section
 */
body.login div#login form#lostpasswordform {
	padding: 0;
	border: none;
	box-shadow: none;
}
body.login div#login form#lostpasswordform p {}
body.login div#login form#lostpasswordform p label {}
body.login div#login form#lostpasswordform input {}
body.login div#login form#lostpasswordform input#user_login,
body.login div#login form#lostpasswordform input#user_pass {
	display: block;
	width: 100%;
	padding: .6125rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--black);
	background-color: #fff;
	border: 1px solid #BDBDBD;
	border-radius: .325rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body.login div#login form#lostpasswordform input#user_login:focus,
body.login div#login form#lostpasswordform input#user_pass:focus {
	background-color: #fff;
	border-color: var(--blue);
	outline: 0;
	box-shadow: none;
}
body.login div#login form#lostpasswordform input#user_login:-webkit-autofill,
body.login div#login form#lostpasswordform input#user_login:-webkit-autofill:hover,
body.login div#login form#lostpasswordform input#user_login:-webkit-autofill:focus,
body.login div#login form#lostpasswordform input#user_login:-webkit-autofill:active,
body.login div#login form#lostpasswordform input#user_pass:-webkit-autofill,
body.login div#login form#lostpasswordform input#user_pass:-webkit-autofill:hover,
body.login div#login form#lostpasswordform input#user_pass:-webkit-autofill:focus,
body.login div#login form#lostpasswordform input#user_pass:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
body.login div#login form#lostpasswordform p.submit input#wp-submit {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: .325rem;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--blue);
	border: none;
	box-shadow: none;
	outline: none;
}

/* 
 *  Message & Utilities
 */
body.login #login_error,
body.login .message,
body.login .success {
	background-color: var(--blue);
	color: var(--white);
	border: var(--blue-dark);
	border-radius: .325rem;
	box-shadow: none;
}
body.login #login_error a,
body.login .message a,
body.login .success a {
	color: var(--white);
	font-weight: 500;
}
body.login div#login form#loginform p.forgetmenot,
body.login div#login p#backtoblog,
body.login .button.wp-hide-pw {
	display: none !important;
}
body.login div#login p#nav {
	text-align: center;
}
body.login div#login p#nav a {
	color: var(--black);
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
	box-shadow: none;
	transition: color 0.15s ease-in-out;
}
body.login div#login p#nav a:hover {
	color: var(--blue);
}